@import variables.sass
@import mixins.sass

.container
  position: relative
  @include flexRow(2rem)
  left: 4rem
  width: 100vw 
  height: 100vh
  justify-content: center
  
  .month
    width: 50%
  #typecalls
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-column-gap: 10px
    grid-row-gap: 10px
    width: calc(60% - 2rem)  
    height: 50%  
    .card-container
      display: grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(4, 1fr)
      grid-column-gap: 10px
      grid-row-gap: 0px
      width: 100%
      height: 100%
      padding: 2rem
      border-radius: 1rem
      .card
        @include flexRow(0)
        width: 100%
    .infos
      grid-area: 1 / 1 / 2 / 3
    .card0   
      grid-area: 2 / 1 / 3 / 2
    .card1  
      grid-area: 2 / 2 / 3 / 3 
    .card2   
      grid-area: 3 / 1 / 4 / 2
    .card3 
      grid-area: 3 / 2 / 4 / 3  
    .card4
      grid-area: 4 / 1 / 5 / 2
      
    #bri
      background: rgb(255,210,76)
      background: linear-gradient(180deg, rgba(255,210,76,1) 0%, rgba(255,220,115,1) 40%)
    #comodato
      color: $text
      background-color: $black    
    #prePago
      color: $text
      background-color: $blue  
    #badCall
      color: $text
      background-color: #3B44F6
.title
  color: $text
  display: flex
  justify-content: center
  width: 100%
  padding-top: 1rem
  font-size: 1.5rem
  text-align: center
.subtitle
  color: $text
  display: flex
  justify-content: center
  width: 100%   