@import variables.sass
@import mixins.sass

#registerCall
  width: calc(35% + 4.8rem)
  height: 30rem
  // margin-left:4rem
  @include flexColumn(2rem, space-evenly, left)

  #registerButton
    width:100%
      
  .MuiButtonBase-root
    color: $white-bg
    background-color: $dark-navy
  .Mui-selected
    color: $dark-navy
    background-color: $ciano
