@import variables.sass
@import mixins.sass

#registerCall
  width: 55%
  height: 100%
  border-radius: 2rem
  padding: 2rem

  @include flexColumn(2rem, flex-start, none)

  .selectCall
    border-radius: 1rem
    height: 10rem
    // @include flexRow(0)

    span
      width: 100%
      @include flexColumn(0, center, left)
      .MuiToggleButtonGroup-root
        width: 100%
  .label
    color: $text
    margin-bottom: 1rem

  #registerButton
    font-family: 'Poppins'
    font-weight: 400
    font-size: 1rem
    width: 20%
    height: 100%
    border-radius: 1rem
    background: $purple

  .MuiButtonBase-root
    padding: 0
    color: $white-bg
    width: 100%
    border: none

    .MuiFormControl-root
      color: $white-bg
      width: 100%
      .MuiFormLabel-root
        color: $white-bg
      .MuiSvgIcon-root
        color: $purple
      .MuiOutlinedInput-notchedOutline
        border: 1px solid $purple
      .MuiInputBase-root
        height: 3.8rem
        color: $white-bg
  .MuiOutlinedInput-notchedOutline
    border: 1px solid $purple

.info
  width: 100%
  @include flexColumn(0, center, left )
  .MuiFormControl-root
    margin-top: .3rem
    width: 100%
    border-color: $text
    #outlined-basic
      color: $text
      width: 100%
.btns
  @include flexRow(0)
  justify-content: flex-start
  height: 25%
  .transferred
    background: transparent
    color: $text
    width: 13%
    height: 2.4rem
    border-radius: .8rem
    border: 1px solid $purple
    margin-left: 1rem
    @include flexRow(0)
    justify-content: center
    align-items: center
  .clicked
    background: $dark-purple
