@import variables.sass
::-webkit-scrollbar
  width: 2px
  height: 3px

::-webkit-scrollbar-button
  width: 0px
  height: 0px

::-webkit-scrollbar-thumb
  background: $purple
  border: 0px none #ffffff
  border-radius: 20px

::-webkit-scrollbar-thumb:hover
  background: #7ca3fe

::-webkit-scrollbar-thumb:active
  background: #3e91fe

::-webkit-scrollbar-track
  background: #f7f7f7
  border: 0px none #ffffff
  border-radius: 22px

::-webkit-scrollbar-track:hover
  background: #fafafa

::-webkit-scrollbar-track:active
  background: #ccd2ff

::-webkit-scrollbar-corner
  background: transparent

*
  padding: 0
  margin: 0
  font-size: 13px
  box-sizing: border-box

  font-family: 'Poppins', sans-serif
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0

  body
    background: $black
