@import variables.sass
@import mixins.sass
#matrizes
  @include flexColumn(0, flex-start, center)
  position: relative
  background: $black
  width: calc(100vw - 5rem)
  gap: 2rem
  height: 100vh
  left: 5rem 
  #title-container
    padding: 0 0 0 1rem
    margin: auto auto 0 auto
    color: $text
    width: calc(90% - 8rem)
    text-align: center
    span
      font-weight: thin
      opacity: .6
      font-size: 1.3rem
  h1
    font-size: 2rem
.card-container
  width: calc(90% - 8rem)
  height: 80vh 
  padding: 0 0 4rem 0
  margin: 0 auto
  display: grid
  align-items: center
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(3, 1fr)
  grid-column-gap: 12px
  grid-row-gap: 10px

  .card-group
    color: $text
    background: $raisin-black
    text-align: center
    border-radius: 1.2rem
    @include flexColumn(0, flex-start, left)
    height: 100%
    width: 100%
    .MuiCardActionArea-root
      height: 100%
    .MuiCardContent-root
      text-align: left
      margin: auto
      width: 100%
      height: 100%
      
      h3
        font-size:1.4rem
        padding: 0 0 .5rem 0
      h5
        opacity: .8
        padding-bottom: .5rem
      span
        overflow-y: scroll
        font-size: .75rem
   
  .card-0 
    grid-area: 1 / 1 / 2 / 2 
  .card-1 
    grid-area: 1 / 2 / 2 / 3 
  .card-2 
    grid-area: 1 / 3 / 2 / 4 
  .card-3  
    grid-area: 2 / 1 / 3 / 2 
  .card-4 
    grid-area: 2 / 2 / 3 / 3 
  .card-5  
    grid-area: 2 / 3 / 3 / 4 
  .card-6  
    grid-area: 3 / 1 / 4 / 4 
