@import variables.sass
@import mixins.sass

main
  color: $text-contrast
  width: 100vw
  height: calc(100vh - 4rem)
  @include flexColumn(0, flex-start, left)

  #register
    width: calc(100% - 8rem)
    height: 50vh
    gap: 3rem
    margin:0 4rem 0 4rem
    @include flexRow(0)

  #results 
    @include flexRow(0)
    width: calc(100% - 8rem)
    // gap: 3rem
    margin: 0 4rem 0 4rem
    height: calc(50vh - 4rem)
    
   
    .quantity
      font-size: 2.5rem
    #table-result
      font-weight: bold
      font-size: 1.2rem
      display: grid
      width: calc(35% + 3.8rem)
      height:15vw
      border-radius: .7rem
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(2, 1fr)
      grid-column-gap: 0px
      grid-row-gap: 0px
    
    
    #atendidas
      border-top-left-radius: 1rem
      border-bottom-left-radius: 1rem
      @include flexColumn(0, center, center)
      background: $gray-navy
      color: $text
      grid-area: 1 / 1 / 3 / 2

    #cancelados
      border-top-right-radius: 1rem
      @include flexColumn(0, center, center)
      background: $blue
      color: $text
      grid-area: 1 / 2 / 2 / 3
      
    #taxa
      border-bottom-right-radius: 1rem
      @include flexColumn(0, center, center)
      background: $ciano
      color: $text-contrast
      grid-area: 2 / 2 / 3 / 3

  #tableInfo
    @include flexColumn(0, flex-start, center)
    width: calc(65% - 4.8rem)
    height: 26rem
    // padding-right: 4rem

    .MuiPaper-root
      height: 26rem
      border:.2rem $gray-navy solid
      // border-radius: 1rem
      padding: 0.5rem
      .MuiTable-root
        height: 100%

      .MuiTableHead-root tr th
        font-weight: bold
        font-size: 1.2rem
        color: $text-contrast
        
      .MuiTableBody-root .MuiTableRow-root .MuiTableCell-root
        font-size: 1.2rem
        font-weight: 300
        color: $text-contrast
