$black: #1C2039
$raisin-black: #262B49
$purple: #8758FF
$dark-purple: #413F54
$gray-light: #b4b4b4 
$blue: #355691
$text: #FFFFFF
$green: #29b339
$red: #FF5D5D
$yellow: #FFD24C
$text-contrast: #002B5B
$white-bg:#F9F9F9


